* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    background-color: hsl(216, 12%, 8%);
    display: flex;
    margin: 1.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container,
.ty-container {
    background-color: hsl(213, 19%, 18%);
    padding: 2rem 1.5rem;
    border-radius: 0.625rem;
    width: 22%;
    margin: auto;
    margin-top: 10%;
    max-width: 400px;
    background-image: linear-gradient(to bottom,
                hsl(212, 18%, 14%),
                hsl(220, 16%, 11%));
}

.container img {
    background-color: hsl(213, 20%, 22%);
    padding: 0.5rem;
    border-radius: 50%;
    max-width: 100%;
}

.container h1 {
    color:hsl(0, 0%, 100%);
    margin: 2rem 0 1 rem;
}

.container p {
    color: hsl(217, 12%, 63%);
    margin-bottom: 1rem;
}

.container ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    list-style-type: none;
}

.container ul li button {
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: hsl(213, 20%, 22%);
    color: hsl(0, 0%, 100%);
    padding-top: 0.2rem;
    border-radius: 50%;
    cursor: pointer;    
    font-family: inherit;
    font-size: 1rem;
}

.container ul li button:hover {
    background-color: hsl(25, 97%, 53%);
}

.container ul li button:focus {
    background-color: hsl(217, 12%, 63%);
}

.btn-submit {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    width: 100%;
    padding: 0.8rem 0 0.6rem;
    border: none;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}

.ty-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hidden {
    display: none;
}

.ty-container img {
    display: block;
    margin: 0 auto 2rem;
}

.ty-container p.gray {
    font-size: 0.9rem;
    background-color: hsl(213, 20%, 22%);
    color: hsl(25, 97%, 53%);
    border-radius: 30px;
    padding: 0.2rem 0.5rem 0;
    margin-bottom: 2rem;
}

.ty-container h2 {
    color: hsl(0, 0%, 100%);
    margin-bottom: 1rem;
}

.ty-container p {
    color: hsl(217, 12%, 63%);
    margin-bottom: 2rem;
}
